<a class="navLink" href = "/">Top 100</a>
<a class="navLink" href ="/otterRankings">otterRankings</a>
<a class="navLink" href = "/individualRankings">individualRankings</a>
<a class="navLink" href = "/artistsAvailable">artistsAvailable</a>
<a class="navLink" href ="/artistPage">artistPage</a>
<a class="navLink" href = "/albumPage">albumPage</a>
<a class="navLink" href="/logout">Logout</a>
<a class="navLink" href="/login">Login</a>