<nav class="navbar navbar-expand-lg"> <!--horizontal navbar-->
    <div class="navbar-nav mx-auto"> <!--centers navbar items-->
      <a href="/" class="nav-link metallo-btn">Top 20</a>
      <a href="/otterRankings" class="nav-link metallo-btn">Otter Rankings</a>
      <a href="/individualRankings" class="nav-link metallo-btn">Individual Rankings</a>
      <a href="/artistsAvailable" class="nav-link metallo-btn">Artists Available</a>
      <a href="/logout" class="nav-link metallo-btn">Logout</a>
      <a href="/login" class="nav-link metallo-btn">Login</a>
    </div>
  </nav>