 


    <div>
        <form class="search" action="/searchArtist">
            <input name="searchArtist" type="text" placeholder="Search for an artists disc">
            <button  class=>Search Artist</button>
    
        </form>
    </div>


    <!-- <div>
        <form  class="search" action="/searchAlbums">
            <input name="searchAlbums" type="text" placeholder="Search for Albums by keyword">
            <button>Search Album</button>
    
        </form>
    </div> -->