<div class="d-flex justify-content-center mt-3">
    <form class="search-form form-inline"> <!--search form lines up horizontally-->
        <input type="text" class="form-control mr-2" placeholder="Search for an artist disc"> <!--rounded input box-->
        <button type="submit" class="metallo-btn">Search Artist</button>
    </form>
    </div>


    <!-- <div>
        <form class="search" action="/searchArtist">
            <input name="searchArtist" type="text" placeholder="Search for an artists disc">
            <button  class=>Search Artist</button>
    
        </form>
    </div> -->


    <!-- <div>
        <form  class="search" action="/searchAlbums">
            <input name="searchAlbums" type="text" placeholder="Search for Albums by keyword">
            <button>Search Album</button>
    
        </form>
    </div> -->